[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
xgboost = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
flask = "*"
joblib = "*"
tensorflow = "*"
statsmodels = "*"
keras-tuner = "*"

[dev-packages]

[requires]
python_version = "3.10"
